#####################################################################
#  全局变量
#####################################################################
[gcode_macro COMMON_VAR]
variable_tool_out_state: 0
variable_current_extruder_temp: 0
variable_current_z: 0
variable_need_draw_line: 0
gcode:

#####################################################################
#  校准
#####################################################################
[gcode_macro PID_Bed]
gcode:
    {% set temperature = params.temperature|default(60) %}
    PID_CALIBRATE HEATER=heater_bed TARGET={temperature}

[gcode_macro PID_Extruder]
gcode:
    {% set temperature = params.temperature|default(220) %}
    PID_CALIBRATE HEATER=extruder TARGET={temperature}

# 自定义提供的 PAUSE、RESUME 和 CANCEL_PRINT 宏。例如，如果你需要你自己的 park 位置
# 只需从 mainsail.cfg 复制完整的 _CLIENT_VARIABLE 宏，并将其放在你的 mainsail include 下面。 之后，取消注释所需的变量并用您的值填充它们。
[gcode_macro _CLIENT_VARIABLE]
### 暂停宏相关自定义设置
variable_use_custom_pos   : True ; 是否使用x, y自定义停靠坐标 [True/False]
variable_custom_park_x    : 40.0   ; 暂停打印时X位置
variable_custom_park_y    : 60.0   ; 暂停打印时Y位置
variable_custom_park_dz   : 12.0   ; 暂停打印时Z上升的距离 (单位为毫米)

# ### 取消暂停宏相关自定义设置
variable_park_at_cancel   : True ; 是否在执行取消打印宏时允许移动工具头到停车位置 [True/False]
# variable_park_at_cancel_x : None  ; 取消打印后X位置
# variable_park_at_cancel_y : None  ; 取消打印后Y位置

# ### 暂停与取消时候挤出机动作
variable_retract          : 2.0     ; 暂停打印时挤出机回抽长度(mm)
variable_cancel_retract   : 5.0     ; 取消打印时挤出机回抽长度(mm)
# variable_speed_retract    : 35.0    ; 挤出机回抽速度 mm/s
# variable_unretract        : 1.0     ; 恢复打印时挤出长度
# variable_speed_unretract  : 35.0    ; 挤出机挤出速度 mm/s
# variable_speed_hop        : 15.0    ; Z轴移动速度 mm/s
# variable_speed_move       : 100.0   ; 移动速度 mm/s

# ### 关闭电机加热配置
# ### 一天为86400秒
# variable_idle_timeout     : 0     ; 空闲超时到启动所需要的秒数。 设置为0意味着不会设置或恢复任何值

# # !!!注意如果你设置use_fw_retract: True，那么在printer.cfg中必须定义[firmware_retraction]!!!
# variable_use_fw_retract   : False ; 是否使用固件回抽，替代手动版本 [True/False]
# variable_runout_sensor    : ""    ; 如果定义了传感器，它将在检测到没有丝料的情况下，用来取消执行RESUME。
# #                                指定runout传感器的配置名称，例如 "filament_switch_sensor runout"。提醒：使用你的printer.cfg中相同的
# # !!!自定义宏，请小心使用并查看相应宏的部分。 这些宏是用于像设置状态LED的简单操作。请确保你的宏不会干扰基本宏的功能。 只支持单行命令，请创建一个宏，如果你需要多个命令。
# variable_user_pause_macro : ""    ; ""内的所有内容将在klipper base pause (PAUSE_BASE)函数之后执行
# variable_user_resume_macro: ""    ; ""内的所有内容将在klipper base resume (RESUME_BASE)函数之前执行
# variable_user_cancel_macro: ""    ; ""内的所有内容将在klipper base cancel (取消打印宏_BASE)函数之前执行
gcode:


#####################################################################
#  状态初始化
#####################################################################
[gcode_macro STARTUP]
gcode:
    {% raw %}
    # 移动舵机到目标位置，例如90度
    SET_SERVO SERVO=select_filament_servo ANGLE=180
    # 等待一段时间确保舵机运动到位，例如等待1秒(1000毫秒)
    G4 P1000
    # 切断舵机信号，使其断电
    SET_SERVO SERVO=select_filament_servo WIDTH=0
    {% endraw %}

[gcode_macro DYNAMIC_Z_CALIBRATION]
description: 动态测量Z
gcode:
    G1 Z5
    PROBE
    G4 P200 ; 等待200ms

# pei 0.110
# carbon 0.7
[gcode_macro SET_Z_OFFSET]
gcode:
    SET_GCODE_OFFSET Z={printer.probe.last_z_result - 0.110} MOVE=1

