##############################################################################################################
# 打印头停靠清理工具
##############################################################################################################

#####################################################################
#   Servo
#####################################################################

[servo servo0]
pin:EBBCan:PB9
maximum_servo_angle: 180 # servo 最大转动角度，根据实际情况设置
minimum_pulse_width: 0.0005 # 最小脉冲宽度，单位为秒
maximum_pulse_width: 0.0025 # 最大脉冲宽度，单位为秒
# initial_angle: 175 # servo 初始角度

##############################################################################################################
# 工具函数
##############################################################################################################
[gcode_macro CTRL_TOOL_SERVO]
description: 控制后需要手动关闭电机防止烧毁
gcode:
    {% set angle = params.ANGLE|default(176)|int %}
    SET_SERVO SERVO=servo0 ANGLE={angle}

[gcode_macro CLOSE_TOOL_SERVO]
gcode:
    SET_SERVO SERVO=servo0 WIDTH=0

[gcode_macro _BASE_OPEN_TOOL]
description: 弹出工具（底层操作）
gcode:
    SET_GCODE_VARIABLE MACRO=COMMON_VAR VARIABLE=tool_out_state VALUE=1
    ; 相对模式向下移动 20mm
    G91
    G1 Z-20 F5000
    CTRL_TOOL_SERVO ANGLE=160

[gcode_macro _BASE_CLOSE_TOOL]
description: 收起工具（底层操作）
gcode:
    CTRL_TOOL_SERVO ANGLE=174
    SET_GCODE_VARIABLE MACRO=COMMON_VAR VARIABLE=tool_out_state VALUE=0

[gcode_macro _Prepare_Tool]
description: 准备工具区
gcode:
    G90
    # 移动工具头到特定位置
    G1 X35 Y60 F5000
    _BASE_OPEN_TOOL
    G4 P1000
    CLOSE_TOOL_SERVO

[gcode_macro _Pack_Up_Tool]
description: 离开工具区
gcode:
    {% set tool_out_state = printer["gcode_macro COMMON_VAR"].tool_out_state|int %}
    {% if tool_out_state == 1 %}
        G90
        G1 X35 Y60 F5000
        _BASE_CLOSE_TOOL
        G4 P1000 ; 等待几秒
        CLOSE_TOOL_SERVO
        M106 S0
    {% endif %}

[gcode_macro _Move_Toilet]
description: 移动到马桶
gcode:
    G90
    G1 X2

[gcode_macro _Park_Nozzle]
description: 停靠喷嘴
gcode:
    G90
    G1 X20 Y60
    M106 S127

# 擦嘴
[gcode_macro _Wiping_Mouth]
description: 擦嘴
gcode:
    {% set tool_out_state = printer["gcode_macro COMMON_VAR"].tool_out_state|int %}
    {% if tool_out_state == 1 %}
        G90
        {% for i in range(2) %}
        # 磨喷嘴
        {% for i in range(3) %}
            G1 X10 F5000
            G1 X25 F5000
        {% endfor %}
        _Brush_Mouse
        {% endfor %}
        G1 X25 F3000
    {% endif %}

[gcode_macro _Brush_Mouse]
description: 刷喷嘴
gcode:
    {% set tool_out_state = printer["gcode_macro COMMON_VAR"].tool_out_state|int %}
    {% if tool_out_state == 1 %}
        {% for i in range(2) %}
            G1 X0 F6000
            G1 X10 F6000
        {% endfor %}
    {% endif %}
