#####################################################################
#   Servo
#####################################################################

[servo servo0]
pin:EBBCan:PB9
maximum_servo_angle: 180 # servo 最大转动角度，根据实际情况设置
minimum_pulse_width: 0.0005 # 最小脉冲宽度，单位为秒
maximum_pulse_width: 0.0025 # 最大脉冲宽度，单位为秒
# initial_angle: 175 # servo 初始角度

##############################################################################################################
# 工具函数
##############################################################################################################
[gcode_macro CTRL_SERVO]
description: 控制后需要手动关闭电机防止烧毁
gcode:
    {% set angle = params.ANGLE|default(176)|int %}
    SET_SERVO SERVO=servo0 ANGLE={angle}

[gcode_macro CLOSE_SERVO]
gcode:
    SET_SERVO SERVO=servo0 WIDTH=0

[gcode_macro _OPEN_TOOL]
description: 弹出工具（底层操作）
gcode:
    {% set current_z = printer.toolhead.position.z %}
    SET_GCODE_VARIABLE MACRO=COMMON_VAR VARIABLE=tool_out_state VALUE=1
    SET_GCODE_VARIABLE MACRO=COMMON_VAR VARIABLE=current_z VALUE={ current_z }
    {% if current_z < 25 %}
        G1 Z25 F5000
    {% endif %}
    CTRL_SERVO ANGLE=160

[gcode_macro _CLOSE_TOOL]
description: 收起工具（底层操作）
gcode:
    SET_GCODE_VARIABLE MACRO=COMMON_VAR VARIABLE=tool_out_state VALUE=0
    {% set current_z = printer["gcode_macro COMMON_VAR"].current_z %}
    {% if current_z != 0 %}
        G1 Z{current_z} F5000
        SET_GCODE_VARIABLE MACRO=COMMON_VAR VARIABLE=current_z VALUE=0
    {% endif %}
    CTRL_SERVO ANGLE=174

[gcode_macro _PREPARE_TOOL]
description: 准备工具区
gcode:
    G90
    G1 X35 Y60 F5000
    _OPEN_TOOL
    G4 P1000
    CLOSE_SERVO

[gcode_macro _PACK_UP_TOOL]
description: 离开工具区
gcode:
    G90
    G1 X35 Y60 F5000
    _CLOSE_TOOL
    G4 P1000 ; 等待几秒
    CLOSE_SERVO
    M106 S0

[gcode_macro _Move_Toilet]
description: 移动到马桶
gcode:
    G90
    G1 X2

[gcode_macro _Park_Nozzle]
description: 停靠喷嘴
gcode:
    G90
    G1 X20 Y60
    M106 S127
    
# 擦嘴
[gcode_macro _Wiping_Mouth]
gcode:
    G90
    {% for i in range(2) %}
      # 磨喷嘴
      {% for i in range(3) %}
          G1 X10 F5000
          G1 X25 F5000
      {% endfor %}
      # 刷喷嘴
      {% for i in range(2) %}
          G1 X0 F6000
          G1 X10 F6000
      {% endfor %}
    {% endfor %}
    G1 X25 F3000
    