[save_variables]
filename = ~/printer_data/variables.cfg  # 指定变量保存的文件路径
#####################################################################
#   多色变量
#####################################################################
[gcode_macro MULTI_COLOR_VAR]
# 选料电机耗材编号对应角度
variable_selector_angle_idle: 0
variable_selector_angle_no_1: 60
variable_selector_angle_no_2: 100
variable_selector_angle_no_3: 140
variable_selector_angle_no_4: 180

# Motor
variable_motor_speed: 40     # mm/s - default mmu stepper motor speed
variable_motor_accel: 500    # mm2/s - default mmu stepper motor acceleration

# 耗材
variable_break_detection_to_extruder_length: 1000 # 断料检测到挤出机长度
variable_selector_to_break_detection_length: 0 # 选择器（四通）的到断料检测长度
# PETG 240
# PLA 200
variable_filament1_load_temperature: 240 # 耗材1载入温度
variable_filament2_load_temperature: 240 # 耗材2载入温度
variable_filament3_load_temperature: 240 # 耗材3载入温度
variable_filament4_load_temperature: 240 # 耗材4载入温度
gcode:

#####################################################################
#   Servo 选料电机
#####################################################################

[servo select_filament_servo]
pin:gpio29
maximum_servo_angle: 180 # servo 最大转动角度，根据实际情况设置
minimum_pulse_width: 0.0008 # 最小脉冲宽度，单位为秒
maximum_pulse_width: 0.0024 # 最大脉冲宽度，单位为秒
# initial_angle: 180 # servo 初始角度

#####################################################################
#   Extruder 进退料电机
#####################################################################

[manual_stepper sp_motor]
step_pin: gpio14
dir_pin: !gpio13                                                     # Add ! if moving opposite direction
enable_pin: !gpio15
full_steps_per_rotation: 200                                       # Set to 200 for LDO 1.8° stepper motor, and set to 400 for OMC(StepperOnline) 0.9° stepper motor
rotation_distance: 21.333                                            # See calibrating rotation_distance on extruders doc
gear_ratio: 4:3                                                   # For Mini Afterburner
microsteps: 32
# nozzle_diameter: 0.400
# filament_diameter: 1.750
# heater_pin: gpio23
# ## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
# ## Use "Generic 3950" for NTC 100k 3950 thermistors
# sensor_type: Generic 3950
# sensor_pin: gpio27
# control: pid                                                        # Do PID calibration after initial checks
# pid_Kp: 28.182
# pid_Ki: 1.978
# pid_Kd: 100.397
# min_temp: -100
# max_temp: 270
# min_extrude_temp: -100
# max_extrude_only_distance: 50000
# max_extrude_cross_section: 0.8
# pressure_advance: 0.0                                               # See tuning pressure advance doc
# pressure_advance_smooth_time: 0.040

[tmc2209 manual_stepper sp_motor]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
interpolate: False
## For OMC (StepperOnline) 14HR07-1004VRN 1A 0.9°
#run_current: 0.5 # for OMC 14HR07-1004VRN rated at 1A
## For LDO LDO 36STH17-1004AHG 1A 1.8° 
#run_current: 0.3 # for LDO 36STH17-1004AHG
## For LDO LDO 36STH20-1004AHG 1A 1.8° 
run_current: 0.6 # for LDO 36STH20-1004AHG
sense_resistor: 0.110
stealthchop_threshold: 140                                            # Set to 0 for spreadcycle, avoid using stealthchop on extruder

#####################################################################
#   自动换料
#####################################################################
[gcode_macro close_selector]
description: 关闭选料舵机
gcode:
    SET_SERVO SERVO=select_filament_servo WIDTH=0

[gcode_macro idle_selector]
description: 悬空选料电机
gcode:
    {% set servo_angle = printer["gcode_macro MULTI_COLOR_VAR"].selector_angle_idle %}
    SET_SERVO SERVO=select_filament_servo ANGLE={servo_angle}
    CLOSE_SELECTOR

[gcode_macro choose_filament]
description: 选料舵机(0 1 2 3)
gcode:
    {% set toolNo = params.TOOL|default(0)|int %}
    M118 选料舵机： {toolNo}
    {% set selectorAngle1 = printer["gcode_macro MULTI_COLOR_VAR"].selector_angle_no_1 %}
    {% set selectorAngle2 = printer["gcode_macro MULTI_COLOR_VAR"].selector_angle_no_2 %}
    {% set selectorAngle3 = printer["gcode_macro MULTI_COLOR_VAR"].selector_angle_no_3 %}
    {% set selectorAngle4 = printer["gcode_macro MULTI_COLOR_VAR"].selector_angle_no_4 %}
    {% if toolNo == 0 %}
         {% set servo_angle = selectorAngle1 %}
    {% elif toolNo == 1 %}
         {% set servo_angle = selectorAngle2 %}
    {% elif toolNo == 2 %}
         {% set servo_angle = selectorAngle3 %}
    {% elif toolNo == 3 %}
         {% set servo_angle = selectorAngle4 %}
    {% else %}
      { action_raise_error("ANGLE参数必须在1-4范围内") }
    {% endif %}
    SET_SERVO SERVO=select_filament_servo ANGLE={servo_angle}
    G4 S1

[gcode_macro tool_move_filament]
description: 进退料控制（tool: 0 1 2 3 ,length: int）
gcode:
    {% set sp = printer['gcode_macro MULTI_COLOR_VAR'] %}
    {% set distance = params.LENGTH|default(0)|float %} ; 毫米
    {% set toolNo = params.TOOL|default(0)|int %}

    {% set speed = params.SPEED| default(sp.motor_speed) | int %}
    {% set accel = params.ACCEL| default(sp.motor_accel) | int %}
    M118 进退料控制： tool:{toolNo} distance:{distance}

    CHOOSE_FILAMENT TOOL={toolNo}
    G4 P500  # 等待500ms确保舵机到位
    # 切换使用的电机
    MANUAL_STEPPER STEPPER=sp_motor ENABLE=1 SET_POSITION=0 SPEED={speed} ACCEL={accel} MOVE={distance} SYNC=1
    MANUAL_STEPPER STEPPER=sp_motor ENABLE=0
    # 关闭舵机
    CLOSE_SELECTOR

[gcode_macro _load_tool]
description: 退旧料到五通后，加载新料到热端前（会判断），最后载入热端
gcode:
    M118 _load_tool，退旧料到四通后，加载新料到热端前，最后载入热端
    {% set current_idx = params.INDEX|int %}
    {% set break_detection_to_extruder_length = printer["gcode_macro MULTI_COLOR_VAR"].break_detection_to_extruder_length %}
    {% set selector_to_break_detection_length = printer["gcode_macro MULTI_COLOR_VAR"].selector_to_break_detection_length %}
    {% set total_length = break_detection_to_extruder_length + selector_to_break_detection_length %}
    # 读取记录的之前载入的耗材信息
    {% set saved_filament_state = printer["save_variables"].variables.filament_loaded|default(1)|int %}
    {% set saved_filament_idx = printer["save_variables"].variables.latest_filament_used|default(0)|int %}
    {% set saved_temp = printer.extruder.temperature %}


    # 保存当前挤出机温度
    SAVE_GCODE_STATE NAME=tool_change_state
    # 如果当前耗材与需要加载耗材不同，则进行操作
    {% if saved_filament_state == 1 %}
        {% if current_idx != saved_filament_idx %}
            UNLOAD ; 退料
            #  退出耗材
            TOOL_MOVE_FILAMENT TOOL={saved_filament_idx} LENGTH=-{total_length}
            # 保存当前耗材信息
            SAVE_VARIABLE VARIABLE=latest_filament_used VALUE={current_idx}
            SAVE_VARIABLE VARIABLE=filament_loaded VALUE=1
            TOOL_MOVE_FILAMENT TOOL={current_idx} LENGTH={total_length} # 加载耗材到挤出机
            RELOAD_CONTINUE # 将耗材载入热端
        {% endif %}
    {% else %}
        TOOL_MOVE_FILAMENT TOOL={current_idx} LENGTH={total_length} # 加载耗材到挤出机
        RELOAD_CONTINUE # 将耗材载入热端
    {% endif %}
    # 并切换回去
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=1
    RESTORE_GCODE_STATE NAME=tool_change_state
    M109 S{ saved_temp } T0 ; 等待温度达到保存的温度

[gcode_macro T0]
description: 切换工具0
gcode:
    M118 T0
    _load_tool INDEX=0

[gcode_macro T1]
description: 切换工具1
gcode:
    M118 T1
    _load_tool INDEX=1

[gcode_macro T2]
description: 切换工具2
gcode:
    M118 T2
    _load_tool INDEX=2

[gcode_macro T3]
description: 切换工具3
gcode:
    M118 T3
    _load_tool INDEX=3

#####################################################################
#   热端位置进退料
#####################################################################

[gcode_macro off_extruder_motor]
description: 关闭挤出机电机
gcode:
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0

[gcode_macro unload]
description: 停靠工具栏退料出热端（冷拔）
gcode:
    M118 退料出热端（冷拔）
    {% set current_temp = printer.extruder.temperature %}
    {% set target_temp = params.TARGET_TEMP|default(190)|float  %}
    M83 ; 相对模式

    _Prepare_Tool
    _Park_Nozzle

    ; 如果此时温度高于190度，则打开散热风扇
    {% if printer.extruder.temperature > target_temp  %}
        G1 E-1 F2400 ; 退1mm，速度2400mm/min
        M106 S255 ; 打开散热风扇
    {% endif %}

    M109 S{ target_temp } T0 ; 等待温度达到190度
    M106 S255 ; 打开散热风扇
    {% if current_temp > target_temp  %}
        G1 E-2 F2400 ; 退2mm，速度2400mm/min
        G1 E1.8 F2400 ; 进1.9mm，速度2400mm/min
    {% endif %}

    G1 E-3 F2400 ; 退3mm
    G1 E2.5 F2400 ; 前进2mm

    M109 S150 T0 ; 等待喷嘴到150度

    G4 S3 ; 等待几秒，让耗材有时间冷却

    ; 循环：退3mm，进3mm，反复5次
    {% for i in range(5) %}
        G1 E-3 F2400
        G1 E2.9 F2400
    {% endfor %}
    G1 E-1 F2400

    M109 S85 T0    ; 等待喷嘴到85度

    ; 快速退出100mm
    G1 E-30 F2500
    G1 E-30 F2500
    G1 E-40 F2500
    M82 ; 绝对模式

    ; 关闭挤出机加热
    M104 S0 ; 设置挤出机目标温度为0度，但不等待
    ; 关闭散热风扇
    M106 S0

[gcode_macro use_toilet_load_filament_extruder]
description: 将耗材从挤出机口载入热端
gcode:
    M118 将耗材从挤出机口载入热端
    ; 参数设置
    {% set insert_deep = 'true'|lower %}
    {% set stop_heating = params.STOP_HEATING|default('false')|lower %} ; 是否停止加热的布尔参数
    # 读取记录的之前载入的耗材编号
    {% set saved_filament_idx = printer["gcode_macro MULTI_COLOR_VAR"].current_filament %}
    {% set filament1_load_temperature = printer["gcode_macro MULTI_COLOR_VAR"].filament1_load_temperature %}
    {% set filament2_load_temperature = printer["gcode_macro MULTI_COLOR_VAR"].filament2_load_temperature %}
    {% set filament3_load_temperature = printer["gcode_macro MULTI_COLOR_VAR"].filament3_load_temperature %}
    {% set filament4_load_temperature = printer["gcode_macro MULTI_COLOR_VAR"].filament4_load_temperature %}
    # 目标温度，根据耗材类型调整
    {% if saved_filament_idx == 0 %}
        M109 S{filament1_load_temperature} T0
    {% elif saved_filament_idx == 1 %}
        M109 S{filament2_load_temperature} T0
    {% elif saved_filament_idx == 2 %}
        M109 S{filament3_load_temperature} T0
    {% elif saved_filament_idx == 3 %}
        M109 S{filament4_load_temperature} T0
    {% endif %}

    _Prepare_Tool
    _Move_Toilet

    ; 耗材前进3mm，确保耗材开始进入喷嘴
    M83 ; 相对模式
    {% if insert_deep == "true" %}
        G1 E15 F900 ; 前进一段，到热端口
    {% else %}
        G1 E32 F900 ; 前进一段，到热端口
    {% endif %}

    ; 最后前进一段较长的距离，确保耗材完全进入喷嘴并准备好打印
    G1 E40 F2000 ; 前进
    G1 E15 F600 ; 前进
    M82
    ; 根据布尔参数决定是否停止加热
    {% if stop_heating == "true" %}
        M104 S0 ; 关闭喷嘴加热
    {% endif %}
    # 吹冷挤出的料
    M106 S255
    G4 S3 ; 等待几秒，让耗材有时间冷却
    M106 S0
    # 刮一下喷嘴
    {% for i in range(2) %}
        G1 X0 F6000
        G1 X10 F6000
    {% endfor %}
    _Park_Nozzle

[gcode_macro use_toilet_load_filament_extruder]
description: 画线操作
gcode:
    {% set is_loaded = printer["save_variables"].variables.filament_loaded|default(1)|int %}
    # 判断是否需要画线
    {% if is_loaded == 1 %}
        M106 S0
        G92 E0
        G1 E-1 F100
        # 画直线
        G90
        G1 Z2 F4000
        G1 X0 Y0 F6000
        G92 E0
        G1 Z0.2 F1200
        G1 X30 Y0 E5 F1200
        G92 E0
        G1 X60 Y0 E10 F1200
        G92 E0
        G1 X88 Y0 E2 F1200
        G1 Z2
        G92 E0
    {% endif %}
#####################################################################
#   手动操作
#####################################################################

[gcode_macro manual_get_filament_state]
description: 获取当前耗材加载状态(true false)与加载索引(0 1 2 3)
gcode:
    {% set is_loaded = printer["save_variables"].variables.filament_loaded|default(1)|int %}
    {% set current_filament = printer["save_variables"].variables.latest_filament_used|default(0)|int %}
    {% if is_loaded == 1 %}
        M118 当前耗材加载状态：是否已进料：true， 耗材索引：{current_filament}
    {% else %}
        M118 当前耗材加载状态：是否已进料：false， 耗材索引：{current_filament}
    {% endif %}

[gcode_macro manual_set_filament_state]
description: 设置当前耗材加载状态(true  false)与加载索引(0 1 2 3)
gcode:
    {% set is_loaded = params.FILAMENT_LOADED|default("true")|lower  %}
    {% set current_filament = params.CURRENT_FIALMENT|default(0)|int  %}
    SAVE_VARIABLE VARIABLE=latest_filament_used VALUE={current_filament}
    {% if is_loaded in ["true", "1", "yes", "y"] %}
        SAVE_VARIABLE VARIABLE=filament_loaded VALUE=1
        M118 设置成功，进料状态：true， 索引：{current_filament}
    {% else %}
        SAVE_VARIABLE VARIABLE=filament_loaded VALUE=0
        M118 设置成功，进料状态：false， 索引：{current_filament}
    {% endif %}

[gcode_macro manual_load_filament]
description: 手动载入耗材（是否载入前置部分长度）
gcode:
    M118 手动载入耗材
    {% set idx = params.INDEX|default(0)|int %}
    {% set load_prelength = params.LOAD_PRELENGTH|default("true")|lower %}
    {% set break_detection_to_extruder_length = printer["gcode_macro MULTI_COLOR_VAR"].break_detection_to_extruder_length %}
    {% set selector_to_break_detection_length = printer["gcode_macro MULTI_COLOR_VAR"].selector_to_break_detection_length %}
    {% set total_length = break_detection_to_extruder_length + selector_to_break_detection_length %}
    {% set current_temp = printer.extruder.temperature %}
    M118 是否需要进料到挤出机：{load_prelength}
    {% if load_prelength in ["true", "1", "yes", "y"] %}
        TOOL_MOVE_FILAMENT TOOL={idx} LENGTH={total_length} # 加载耗材到挤出机
    {% endif %}
    # 舵机悬空挂起
    IDLE_SELECTOR
    G28
    {% if current_temp < 200 %}
        M118 当前温度{ current_temp }，请先加热到200度
    {% else %}
        M109 S{ current_temp } T0
    {% endif %}
    USE_TOILET_LOAD_FILAMENT_EXTRUDER ; 进料
    TURN_OFF_HEATERS
    M84

[gcode_macro manual_abort_filament]
description: 手动退出耗材（是否退出前置部分长度）
gcode:
    M118 手动退出耗材
    {% set idx = params.INDEX|default(0)|int %}
    {% set load_prelength = params.LOAD_PRELENGTH|default("true")|lower %}
    {% set break_detection_to_extruder_length = printer["gcode_macro MULTI_COLOR_VAR"].break_detection_to_extruder_length %}
    {% set selector_to_break_detection_length = printer["gcode_macro MULTI_COLOR_VAR"].selector_to_break_detection_length %}
    {% set total_length = break_detection_to_extruder_length + selector_to_break_detection_length %}

    # 舵机悬空挂起
    IDLE_SELECTOR
    UNLOAD ; 退料
    {% if load_prelength in ["true", "1", "yes", "y"] %}
        TOOL_MOVE_FILAMENT TOOL={idx} LENGTH=-{total_length} # 退料到五通
    {% endif %}
    # 舵机悬空挂起
    IDLE_SELECTOR

[gcode_macro M600]
description: 退料换色（勾选手动模式下换料gcode配置该宏）
gcode:
    M118 退料换色 M600
    ; 保存当前挤出机温度
    SET_GCODE_VARIABLE MACRO=COMMON_VAR VARIABLE=current_extruder_temp VALUE={printer.extruder.temperature}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE ; 暂停打印
    UNLOAD ; 退料

[gcode_macro RELOAD_CONTINUE]
description: 加载耗材并继续打印
gcode:
    M118 加载耗材并继续打印 RELOAD_CONTINUE
    IDLE_SELECTOR # 舵机悬空挂起
    _Park_Nozzle
    USE_TOILET_LOAD_FILAMENT_EXTRUDER ; 进料

[gcode_macro MANUAL_RELOAD_CONTINUE]
description: 手动加载耗材并继续打印
gcode:
    M118 手动加载耗材并继续打印 MANUAL_RELOAD_CONTINUE
    {% set saved_temp = printer["gcode_macro COMMON_VAR"].current_extruder_temp %}
    USE_TOILET_LOAD_FILAMENT_EXTRUDER ; 进料
    _Park_Nozzle
    M109 S{ saved_temp } T0 ; 等待温度达到保存的温度
    RESUME ; 恢复打印
