
#####################################################################
# Neopixel
#####################################################################

[neopixel print_rgb]
pin: gpio24
chain_count: 12
color_order: GRB
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0

[gcode_macro PRINTER_RGB]
description: 打印rgb颜色操作
gcode:
    # 颜色处理
    {% set red = params.RED|default(0)|int %}
    {% set green = params.GREEN|default(0)|int %}
    {% set blue = params.BLUE|default(0)|int %}
    # 进度状态处理
    {% set total = printer.print_stats.info.total_layer|default(1)|int %}
    {% set current = printer.print_stats.info.current_layer|default(0)|int %}
    # 防止除零错误和非法值
    {% if total <= 0 %}
      {% set total = 1 %}
    {% endif %}
    # 计算进度比例
    {% set progress = (current / total * 12)|round(0, 'ceil')|int %}
    M118  progress={progress} current={current} total={total}
    # 边界限制
    {% if progress >= 12 %}
      {% set progress = 12 %}
    {% endif %}
    {% if progress <= 1 %}
      {% set progress = 1 %}
    {% endif %}
    # 设置单个灯颜色
    SET_LED LED=print_rgb RED={ red/255 } GREEN={ green/255 } BLUE={ blue/255 } INDEX={ progress }

