# 以下功能比较消耗上位机性能，请勿默认打开
# 上位机播放依赖安装几个指令：
# 1. 音乐播放指令 `mpv` debian系列linux系统(如ubuntu)使用`sudo apt install mpv`安装
# 2. 音量设置指令 `pactl` debian系列linux系统(如ubuntu)使用`sudo apt install pulseaudio pulseaudio-utils`安装，安装后用systemctl启动该服务，并添加开机自启

[music]
music_dir: /home/biqu/printer_data/config/music  # 音乐目录路径
default_volume: 30 # 启动设置默认音量
page_size: 10 # 音乐列表分页
vol_device: 2 # 使用的哪个音频输出设备，在设置音量错误打印用前面的数字即可
continue_play: True # 是否循环播放

# TODO 无法获取播放音频的流 
# 灯带关联音乐配置
# [music_led]
# neopixel_name: print_rgb # 使用neopixel设置灯带联动
# monitor_source: USB Audio Device # 不指定使用默认设备
# channels: 2
# chunk: 1024
# rate: 44100
# low_hz: 20
# high_hz: 100
# clip_db_low: -60
# clip_db_high: -10
# update_interval: 0.05

[gcode_macro MUSIC_LIST]
description: 音乐列表
gcode:
    MUSIC EVENT=list
