[include mainsail.cfg]

# host MCU service is preinstalled and ready to use with:
[mcu CB1]
serial: /tmp/klipper_host_mcu

[include device_SKR_Pico.cfg]
[include device_EBB36.cfg]
[include A1__init_macro.cfg]
[include A2__tools.cfg]
[include A3__multi_color.cfg]
[include A4__shell_command.cfg]
[include A5__light.cfg]
[include A6__life.cfg]
[include music.cfg]

[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 32
rotation_distance: 11.5
gear_ratio: 50:17  
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: Generic 3950
sensor_pin: EBBCan: PA3
max_power: 0.5
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: -10
max_temp: 250
min_extrude_temp: 80
max_extrude_cross_section: 1.5

[heater_bed]
heater_pin: gpio21
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: gpio26
smooth_time: 3.0
max_power: 0.6                                                     # Only needed for 100w pads
min_temp: 0
max_temp: 120
#control: pid                                                        # Do PID calibration after initial checks
#pid_kp: 27.295 
#pid_ki: 0.761 
#pid_kd: 244.636

[probe]
pin: !EBBCan:PB8
x_offset: -12   # 在热端左边12mm
y_offset: 13  # 在热端后面13mm
#z_offset: 0.745
samples: 6

[bed_mesh]
speed: 120 # 探测移动速度
horizontal_move_z: 5
mesh_min: 5, 18 # 第一个探测点位
mesh_max: 103,113
probe_count: 6, 6 # 探测点数量

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 41.970
#*# pid_ki = 1.504
#*# pid_kd = 292.743
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.250
#*# pid_ki = 8.241
#*# pid_kd = 15.019
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.181417, -0.183500, -0.154125, -0.172042, -0.130375, -0.139542
#*# 	-0.168292, -0.164958, -0.127875, -0.148083, -0.111208, -0.115792
#*# 	-0.125792, -0.122250, -0.102875, -0.128917, -0.093917, -0.121833
#*# 	-0.105167, -0.109542, -0.088083, -0.105167, -0.070792, -0.082875
#*# 	-0.074750, -0.085792, -0.069333, -0.087042, -0.055583, -0.075375
#*# 	-0.048083, -0.044542, -0.038292, -0.051208, -0.020167, -0.036417
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 103.0
#*# min_y = 18.0
#*# max_y = 113.0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 79.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 54.2
#*#
#*# [probe]
#*# z_offset = 1.086
#*#
#*# [bed_mesh carbon]
#*# version = 1
#*# points =
#*# 	  0.048583, 0.116292, 0.151292, 0.184208, 0.211917, 0.243375
#*# 	  0.137542, 0.185250, 0.221083, 0.249833, 0.280042, 0.304833
#*# 	  0.187333, 0.233167, 0.256500, 0.278167, 0.330875, 0.351500
#*# 	  0.207750, 0.254625, 0.273792, 0.306708, 0.384625, 0.414833
#*# 	  0.234833, 0.265250, 0.279000, 0.299208, 0.342750, 0.356083
#*# 	  0.248792, 0.284417, 0.295875, 0.306083, 0.317125, 0.327542
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 103.0
#*# min_y = 18.0
#*# max_y = 113.0
